svg {
}

#svg-container {
}

.viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.2;
}

.axis path {
  display: none;
}

.axis text {
  font-size: 10px;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

.y.axis line {
  stroke:#ccc;
  opacity: .4;
}

.x.axis line {
  stroke:#000;
}

circle.main-seq {
  fill:#fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.main-sequence {
  color: green;
}

.benign {
  color:lightgreen;
}

.mixed {
  color:lightskyblue;
}

.deleterious {
  color:crimson;
}

.stop-gain {
  color: teal;
}

svg.overview {
  display: block;
}

.overview .block-area {
  fill:lightgrey;
  stroke:none;
}

.overview .line {
  fill:none;
  stroke:darkgrey;
  stroke-width:1px;
}

.overlay {
    stroke-width: 0px;
    fill-opacity: 0;
}